# Ignore the following data files

/music_downloads/*
/metadata_downloads/*
/Scraped_data_archive/*
/jazz_on_line/jazz_on_line/Data/*
/Images/*
/MelSpec/*
/wav_samples/*
/to_s3/*
/micro_subset/*
/s3_lists.txt
/s3_list.txt
/upload_wav__to_s3.csv
/CNN_Models/*
/processed_data
/Demo_testing
/.ipynb_checkpoints
*.ipynb
*.mp3
*.wav
*.pyc
error.txt
